/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* header section */

.header{
    width: 100%;
    height: 820px;
    /* border: 2px solid red; */
    margin: 0 auto;
    /* background: linear-gradient(rgb(17, 17, 17),
    rgba(119, 119, 119, 0)); */
    background-color:#0d0d0d;
}
/* navbar */
.navbar{
    height: 45px;
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.nav-option{
    display: flex;
    width: 465px;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.nav-h{
    font-size:36px ;
    font-weight:800px ;
    color:rgb(230, 83, 60) ;
    margin-top: 35px;
}
.nav-btn{
    width: 92px;
    height: 38px;
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-weight: 600px;
    font-size: 18px;
    border-radius:50px;
    border: none;
}
.nav-p{
    font-size: 18px;
    font-weight: 400px;
    color: rgb(255, 255, 255);
}
.header-text{
    width: 600px;
    height: 440px;
    /* border: 2px solid red; */
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-h{
    font-weight: 900px;
    font-size: 78px;
    color: rgb(255, 255, 255);
}
/* span text color style */
.style{
    @import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Playwrite+CZ:wght@100..400&display=swap');
    font-family: "Playwrite CZ", cursive;
}
.header-p{
    font-weight: 400px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}
.header-bone{
    width: 225px;
    height: 55px;
    background-color: rgb(230, 83, 60);
    border-radius: 50px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    border: none;
}
.header-btwo{
    width: 225px;
    height: 55px;
    border-radius: 50px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    background-color:#0d0d0d;
    border: 1px solid whitesmoke;
}
.header-img{
    width: 350px;
    height: 580px;
    /* border: 2px solid red; */
    margin-top: 30px;
}
.header-main{
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* border: 2px solid black; */
    margin: 0 auto;
}
/* main */
.main{
    width: 100%;
    border: 2px solid red;
    margin: 0 auto;
    background-color: #0d0d0d ;
}
/* section-one */
.habit-text{
    width: 670px;
    height: 120px;
    /* border: 2px solid red; */
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.habit-hone{
    font-size:48px ;
    font-weight:900px ;
    color:rgb(255, 255, 255) ;
}
.habit-p{
    font-size:15px ;
    font-weight:400px ;
    color:rgba(255, 255, 255, 0.5) ;
}
.habit-img{
    width:80% ;
    height:274px ;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    margin-top: 58px;
}
.img{
    border-radius: 50%;
}
.habit-img-card{
    width:230px ;
    height:258px ;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
}
.habit-h{
    font-size:18px ;
    font-weight:600px ;
    color:rgb(255, 255, 255) ;
}
.habit-p{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
}

/* run section */
.run{
    width: 80%;
    height: 370px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content:space-between;
    gap: 165px;
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
}
.run-text{
    width: 445px;
    height: 290px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 41px;
    margin-left: 54px;
}
.run-man{
    width: 365px;
    height: 312px;
    /* border: 2px solid red; */
    background-repeat: no-repeat;
    object-fit:cover;
    border-radius: 18px;
    margin-top: 30px;
    margin-right: 32px;
}
